version: '3.8'

services:
  bobfx:
    build:
      context: ..
      dockerfile: BobFx.Core/Dockerfile
    container_name: bobfx-app
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:   
      # ASP.NET Core Configuration
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_HTTP_PORTS=8080
  
    networks:
          - host
    
    restart: unless-stopped