html, body {
    color: #eeeeee;
    background: rgb(36, 36, 36)
}

#led-strip {
    display: grid;
    grid-gap: 4px;                   /* space between LEDs */
    grid-template-columns: repeat(32, 30px); /* 32 LEDs per row */
    grid-template-rows: repeat(8, 30px);     /* 8 rows */
    justify-content: center;         /* center the whole matrix */
    margin: 30px auto;
}

.led {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333;
}

button {
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.control-buttons-group {
    display: flex;
    gap: 0.5rem;
}