<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BobFX Countdown</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>BobFX Countdown</h1>

    <div>
        <label for="duration">Duration (minutes):</label>
        <input type="number" id="duration" min="1" max="30" value="15">
    <!-- Read-only countdown field -->
    <div>
        <label for="countdown">Countdown:</label>
        <input type="text" id="countdown" value="00:00" readonly>
    </div>

    <!-- Buttons -->
     <div>
        <h2>Controls</h2>
        <div class="control-buttons-group">
            <button type="button" onclick="startCountdown(document.getElementById('duration').value || 1);">Start</button>
            <button type="button" onclick="stopCountdown();">Stop</button>
        </div>
    </div>
    
    <div>
        <button type="button" onclick="window.location.href='/test/led'">LED Test</button>
    </div>
    

    <script src="/static/countdown.js"></script>

    <script>
        function toLedTestPage(){

        }
    </script>
</body>
</html>